<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    {% block head %}
    <title>MySQL Auditor</title>
    {% endblock %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div id="content">
        <a href="{{ url_for('default.index') }}">Index</a>
        <a href="{{ url_for('server.list') }}">Server List</a>
        <a href="{{ url_for('server.create') }}">Add Server</a>
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>