{% macro build_filter(action, servers, server_id, users, username, databases, database_name) %}
<div class="container searchBox">
    <form method=post action="{{ action }}">
        <div class="container">
        <div class="filterOption">
            <div>
                <label for="servers">Server</label>
            </div>
            <div>
                <select name="servers" id="servers">
                    <option value="" ></option>
                    {% for server in servers %}
                    <option value="{{ server.id }}" {% if server_id|int == server.id %}selected{% endif %}>{{ server.host }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="filterOption">
            <div>
                <label for="users">User</label>
            </div>
            <div>
                <select name="users" id="users">
                    <option value="" ></option>
                    {% for user in users %}
                    <option value="{{ user.User }}" {% if username == user.User %}selected{% endif %}>{{ user.User }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="filterOption">
            <div>
                <label for="databases">Database</label>
            </div>
            <div>
                <select name="databases" id="databases">
                    <option value="" ></option>
                    {% for database in databases %}
                    <option value="{{ database.Db }}" {% if database_name == database.Db %}selected{% endif %}>{{ database.Db }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="btn">Filter</button>
    </div>
    </form>
</div>
{% endmacro %}
