{% extends "base.html" %}
{% block content %}
<div class="container">
    <form method=post action="{{ url_for('compare.servers') }}">
        <div class="container">
            <div class="filterOption">
                <div>
                    <label for="servers1">Server 1</label>
                </div>
                <div>
                    <select name="servers1" id="servers1">
                        {% for server in servers %}
                        <option value="{{ server.id }}" {% if server1_id|int == server.id %}selected{% endif %}>{{ server.host }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="filterOption">
                <div>
                    <label for="servers2">Server 2</label>
                </div>
                <div>
                    <select name="servers2" id="servers2">
                        {% for server in servers %}
                        <option value="{{ server.id }}" {% if server2_id|int == server.id %}selected{% endif %}>{{ server.host }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn">Compare</button>
        </div>
    </form>
</div>
<div class="container">
    <h2 style="width: 15%">User</h2>
    <table class="lists">
        <tr class="headerRows">
            <th>Server 1</th>
            <th>Server 2</th>
            <th>Diff</th>
        </tr>
        {% for e in user_compare %}
        <tr class="rows border_bottom">
            <td>{% if e.user1 %}{{ e.user1.User }}@{{ e.user1.Host }}{% else %}--{% endif %}</td>
            <td>{% if e.user2 %}{{ e.user2.User }}@{{ e.user2.Host }}{% else %}--{% endif %}</td>
            <td style="text-align: left">
            {% for diff in e.diffs %}
                <div class="diff">
                    <div class="diffTitle">
                        {{ diff[0] }}
                    </div> 
                    <div class="diffContent">
                        {{ diff[1]|truncate(20) }} <br />
                        unequal<br />
                        {{ diff[2]|truncate(20) }}
                    </div>
                </div>
            {% endfor %}
            {% if not e.diffs and e.user1 and e.user2 %}
            no diffs
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="container">
    <h2 style="width: 15%">DB Privs</h2>
    <table class="lists">
        <tr class="headerRows">
            <th>Server 1</th>
            <th>Server 2</th>
            <th>Diff</th>
        </tr>
        {% for e in database_compare %}
        <tr class="rows border_bottom">
            <td>{% if e.database1 %}{{ e.database1.User }}@{{ e.database1.Host }}/{{e.database1.Db}}{% else %}--{% endif %}</td>
            <td>{% if e.database2 %}{{ e.database2.User }}@{{ e.database2.Host }}/{{e.database2.Db}}{% else %}--{% endif %}</td>
            <td style="text-align: left">
            {% for diff in e.diffs%}
                <div class="diff">
                    <div class="diffTitle">
                        {{ diff[0] }}
                    </div> 
                    <div class="diffContent">
                        {{ diff[1]|truncate(20) }} <br />
                        unequal<br />
                        {{ diff[2]|truncate(20) }}
                    </div>
                </div>
            {% endfor %}
            {% if not e.diffs and e.database1 and e.database2 %}
            no diffs
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="container">
    <h2 style="width: 15%">Table Privs</h2>
    <table class="lists">
        <tr class="headerRows">
            <th>Server 1</th>
            <th>Server 2</th>
            <th>Diff</th>
        </tr>
    </table>
</div>
{% endblock %}