{% extends "base.html" %}
{% block content %}
{{error}}
<form method='post' action="{{ url_for('server.create') }}">
    <label for="host">Host:</label><br>
    <input type="text" id="host" name="host" value="{{request.form['host']}}"><br>

    <label for="port">Port:</label><br>
    <input type="text" id="port" name="port" value="{{request.form['port']}}"><br>

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="{{request.form['username']}}"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>

    <button type="submit">Submit</button>
</form>
{% endblock %}