{% from "filter.html" import build_filter %}

{% extends "base.html" %}
{% block content %}

{{ build_filter(url_for('database_privs.list'), servers, server_id, users, username, databases, database_name) }}

<div class="container">
<table class="lists">
    <tr class="headerRows">
        <th style="width:10%">
            Server ID
        </th>
        <th style="width:10%">
            Privilege ID
        </th>
        <th>
            Privilege
        </th>
        <th style="width:15%">
            Pull-Counter
        </th>
    </tr>
{% for db_priv in database_privs %}
    <tr class="rows">
        <td>
            {{ db_priv.server_id }}
        </td>
        <td>
            {{ db_priv.id }}
        </td>
        <td style="text-align:right; font-size: small">
            {{ db_priv.s }}
        </td>
        <td>
            {{ db_priv.pull_counter }}
        </td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}
