ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
}

input {
    all: unset;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 12pt;
    background-color: #FAFAFA;
    padding: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

.content {
    padding: 10px 0px 10px;
}

.header {
    display: flex;
    justify-content: space-between
}

.title {
    font-size: 16pt;
}

.container {
    display: flex;
    width: auto;
    justify-content: space-evenly;
}

.btn {
    background-color: #34495E;
    color: #D6DBDF;
    border-radius: 8px;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn:hover {
    background-color: #D6DBDF;
    color: #343a5e;
}

.btn-small {
    font-size: medium;
    padding: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.iconhidden {
    display: none;
    height: 2rem;
    width: 2rem;
}

.icon:hover {
    display: none;
}

.icon:hover + .iconhidden {
    display: block;
}

.lists {
    margin: 1rem;
    width: 100%;
    border-collapse: collapse;
}

tr.headerRows>th {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 2px solid #34495E;
}

tr.rows>td {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #34495E;
}

.centered {
    text-align: center;
}

.status {
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ok {
    color: green;
    background-color: lightgreen;
}

.fail {
    color: darkred;
    background-color: lightcoral;
}

th {
    text-align: center;
}

.tr-header {
    border: 2px solid #D6DBDF;
}

td {
    text-align: center;
}

input {
    background-color: #D6DBDF;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    text-indent: 0.2rem;
}

.submit {
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #28326f;
    border-color: #28326f;
    font-size: large;
    color: #D6DBDF;
    padding: 0.3rem;
}

.submit:hover {
    color: #28326f;
    background-color: #D6DBDF;
}

.searchBox {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.filter {
    display: flex;
}

.filterOption {
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
}

.diff {
    padding-bottom: 1rem;
}

.diffTitle {
    font-weight: 600;
}

.diffContent {
    font-size: small;
}